MONITOR_HOST=monitor.example.com
TRAEFIK_ENTRYPOINT=web
API_CORS_ORIGINS=
DOCKER_SOCKET_PROXY_IMAGE=tecnativa/docker-socket-proxy:latest@sha256:1f3a6f303320723d199d2316a3e82b2e2685d86c275d5e3deeaf182573b47476
